@using SL.Util
@using SL.Data
@{
    RequestUtil req = new RequestUtil();

    if (Request["action"] == "search")
    {
        int page = req.Int("Page", defaultValue: 1);
        int pageSize = req.Int("PageSize", defaultValue: 10);
        string keywords = req.String("Keywords");
        string sort = req.String("Sort");
        bool isAsc = req.Bool("Asc", defaultValue: false);
        string cityId = req.String("cityId");

        if (req.HasError)
        {
            Json.Write(new { success = false, msg = req.FirstError, errors = req.GetErrors() }, Output);
            return;
        }

        string where = "1=1";
        List<object> parameters = new List<object>();
        if (!string.IsNullOrEmpty(keywords))
        {
            where += " and (AdminName like '%'+@p" + parameters.Count + "+'%')";
            parameters.Add(keywords);
        }

        if (!string.IsNullOrEmpty(cityId))
        {
            where += " and a.CityID=@p" + parameters.Count;
            parameters.Add(req.Int("cityId"));
        }

        IDictionary<string, bool> sortDic = new Dictionary<string, bool>{
            { string.IsNullOrEmpty(sort) ? "AdminID" : sort, isAsc }
        };

        int total;
        var data = SQL.QueryPage("AdminID",
            "AdminID,AdminName,a.CityID,b.CityName,b.ProvinceID,c.ProvinceName",
            "Admin a left join City b on a.CityID=b.CityID left join Province c on b.ProvinceID=c.ProvinceID",
            where, page, pageSize, parameters, out total, sortDic);

        Json.Write(new { success = true, data = data, total = total }, Output);
        return;
    }
    else if (Request["action"] == "add")
    {
        string adminName = req.String("adminName", false, "请填写账号");
        string password = req.Password("password", "请填写密码");
        int cityId = req.Int("cityId", false, "请选择账号地区");

        if (req.HasError)
        {
            Json.Write(new { success = false, msg = req.FirstError, errors = req.GetErrors() }, Output);
            return;
        }

        if (SQL.Exists("select 1 from Admin where AdminName=@p0", adminName))
        {
            Json.Write(new { success = false, msg = "账号已存在" }, Output);
            return;
        }

        SQL.Execute("insert into Admin (AdminName,Password,CityID,Role) values (@p0,@p1,@p2,1)", adminName, password, cityId);

        Json.Write(new { success = true }, Output);
        return;
    }
    else if (Request["action"] == "modify")
    {
        int accountId = req.Int("AdminID", false, "请传入账号编号");
        string password = req.String("Password");

        if (req.HasError)
        {
            Json.Write(new { success = false, msg = req.FirstError, errors = req.GetErrors() }, Output);
            return;
        }

        if (!string.IsNullOrEmpty(password))
        {
            SQL.Execute("update Account set Password=@p1 where AdminID=@p0", accountId, req.Password("Password"));
        }

        Json.Write(new { success = true }, Output);
        return;
    }
    else if (Request["action"] == "delete")
    {
        int accountId = req.Int("AdminID", false, "请传入账号编号");

        if (req.HasError)
        {
            Json.Write(new { success = false, msg = req.FirstError, errors = req.GetErrors() }, Output);
            return;
        }

        SQL.Execute("delete Admin where AdminID=@p0", accountId);

        Json.Write(new { success = true }, Output);
        return;
    }

    Layout = "~/Views/Shared/_ManageLayout.cshtml";

    var province = SQL.Query("select ProvinceID as value,ProvinceName as text from Province");
    if (province != null)
    {
        province.Insert(0, new
        {
            value = "",
            text = "请选择"
        });
    }
    var cities = SQL.Query("select CityID,CityName,ProvinceID from City");
    
}
<h1>管理员账号管理</h1>
<div id="toolbar" class="toolbar"></div>
<div id="grid"></div>
<script>
var province=@(new MvcHtmlString(Json.Encode(province)));
var cities=@(new MvcHtmlString(Json.Encode(cities)));
</script>
<script>
    seajs.use(['jquery','lib/util','lib/buttons','lib/popup','lib/grid','lib/global.css'],function($,util,Buttons,popup) {

        //工具栏
        var buttons=new Buttons('#toolbar',[{
            ico: "add",
            value: "添加",
            click: function() {

                popupAdd.show();
            }
        },{
            ico: "modify",
            value: "修改",
            disabled: true,
            click: function() {
                var data=grid.selectedRow().data;
                popupModify.control('accountId').val(data.AdminID);

                popupModify.show();
            }
        },{
            ico: "delete",
            value: "删除账号",
            disabled: true,
            click: function() {
                var data=grid.selectedRow().data;
                if(window.confirm('确认删除账号？'))
                    $.post('?action=delete',{
                        AdminID: data.AdminID
                    },function(res) {
                        if(res.success) {
                            grid.searchCurrentPage();
                        } else
                            alert(res.msg);
                    },'json');
            }
        }]);

        var popupAdd=new popup.Form({
            title: '添加管理员账号',
            width: 450,
            controls: {
                adminName: {
                    label: '管理员账号',
                    type: 'text',
                    width: 260,
                    validation: {
                        emptyAble: false,
                        emptyText: '请填写账号'
                    }
                },
                password: {
                    label: '密码',
                    type: 'password',
                    width: 260,
                    validation: {
                        emptyAble: false,
                        emptyText: '请填写密码'
                    }
                },
                provinceId: {
                    label: '所属省份',
                    type: 'select',
                    emptyAble: false,
                    options: province,
                    events: {
                        'change': function(e) {
                            var provId=$(e.target).val();
                            var data=util.where(cities,function(item) {
                                return item.ProvinceID==provId;
                            });
                            var city=popupAdd.control('cityId').clear().add(util.select(data,function(item) {
                                return {
                                    text: item.CityName,
                                    value: item.CityID
                                }
                            }));
                        }
                    }
                },
                cityId: {
                    label: '所属城市',
                    type: 'select',
                    emptyAble: false,
                    options: []
                }
            },
            buttons: [{
                value: '添加',
                click: function() {
                    popupAdd.submit({
                        url: '?action=add',
                        success: function(res) {
                            if(res.success) {
                                popupAdd.hide().reset();
                                grid.searchCurrentPage();
                            } else {
                                alert(res.msg);
                            }
                        }
                    });
                }
            },{
                value: '取消',
                click: function() {
                    popupAdd.hide().reset();
                }
            }]
        });

        var popupModify=new popup.Form({
            title: '修改账号',
            width: 450,
            controls: {
                accountId: {
                    type: 'hidden'
                },
                password: {
                    label: '密码',
                    type: 'password',
                    width: 260
                }
            },
            buttons: [{
                value: '修改',
                click: function() {
                    popupModify.submit({
                        url: '?action=modify',
                        success: function(res) {
                            if(res.success) {
                                popupModify.hide().reset();
                                grid.searchCurrentPage();
                            } else {
                                alert(res.msg);
                            }
                        }
                    });
                }
            },{
                value: '取消',
                click: function() {
                    popupModify.hide().reset();
                }
            }]
        });

        //列表
        var grid=$('#grid').grid({
            search: {
                url: "?action=search",
                beforeSend: function() {
                    buttons.items([1,2]).disable();
                },
                data: {
                    keywords: {
                        label: "关键字：",
                        type: 'text'
                    },
                    provinceId: {
                        label: '所属省份',
                        type: 'select',
                        emptyAble: false,
                        options: province
                    },
                    cityId: {
                        label: '所属城市',
                        type: 'select',
                        visible: false,
                        emptyAble: false,
                        options: [{
                            text: '',
                            value: ''
                        }]
                    }
                }
            },
            onRowSelect: function() {
                buttons.items([1,2]).enable();
            },
            pageEnabled: true,
            columns: [{
                text: "编号",
                bind: "AdminID",
                width: 3
            },{
                text: "账号",
                bind: "AdminName",
                width: 10
            },{
                text: "省",
                bind: "ProvinceName",
                width: 6
            },{
                text: "市",
                bind: "CityName",
                width: 6
            }]
        }).search();


        grid.searchInput('provinceId').on('change',function(e) {
            var provId=$(e.target).val();
            var data=util.where(cities,function(item) {
                return item.ProvinceID==provId;
            });
            var city=grid.searchInput('cityId')[0];
            city.options.length=0;

            city.options.add(new Option('请选择',''));
            $.each(data,function(i,item) {
                city.options.add(new Option(item.CityName,item.CityID));
            });
        });

    });
</script>
