<header class="header_type"><em class="ico-back J_Back" hl></em><a class="ico-analyse">
</a>
    <h1>3D选号<em class="ico-arrow-down J_Type"></em></h1>
    <ul class="selType J_TypeCon selType3d">
        <li class="curr">直选</li>
        <li>组3单式</li>
        <li>组3复式</li>
        <li>组6</li>
    </ul>
</header>
<section id="main" class="main ssqMain">
    <div class="cpBar"><span class="motionTip J_Random">摇一摇机选</span> <span class="curPhase js_curPhase">
    </span><span class="leftTime js_leftTime"></span></div>
    <div class="js_group_cont0 js_group_cont">
        <div class="red ballPool">
            <div class="hd"><em>百位</em> </div>
            <div class="bd">
                <ul class="table redBallList J_RedList"></ul>
            </div>
        </div>
        <div class="red ballPool">
            <div class="hd"><em>十位</em> </div>
            <div class="bd">
                <ul class="table redBallList J_RedList"></ul>
            </div>
        </div>
        <div class="red ballPool">
            <div class="hd"><em>个位</em> </div>
            <div class="bd">
                <ul class="table redBallList J_RedList"></ul>
            </div>
        </div>
    </div>
    <div class="js_group_cont1 js_group_cont" style="display: none">
        <div class="red ballPool">
            <div class="hd"><em>重号</em> </div>
            <div class="bd">
                <ul class="table redBallList J_Group3List js_single"></ul>
            </div>
            <div class="hd"><em>单号</em> </div>
            <div class="bd">
                <ul class="table redBallList J_Group3List js_single"></ul>
            </div>
        </div>
    </div>
    <div class="js_group_cont2 js_group_cont" style="display: none">
        <div class="red ballPool">
            <div class="hd"><em>选号</em> <i class="J_Msg">请至少选择2个</i></div>
            <div class="bd">
                <ul class="table redBallList J_Group3List"></ul>
            </div>
        </div>
    </div>
    <div class="js_group_cont3 js_group_cont" style="display: none">
        <div class="red ballPool">
            <div class="hd"><em>组6选号</em> <i class="J_Msg">请至少选择3个</i></div>
            <div class="bd">
                <ul class="table redBallList J_Group6List"></ul>
            </div>
        </div>
    </div>
</section>
<footer class="actionBar"><em class="J_Clear" hl>重选</em> <em class="curr J_Random"
    hl>机选</em> <em class="J_Buy" hl>购买</em> </footer>
