<header><a class="ico-back" hl href="/menu/index.html">添加</a><h1 class="ico_down js_dropdown">过户</h1>
    <em class="ico-save"></em></header>
<section class="main">
    <div class="addwrap">
        <div class="add_photo">
            <div class="add_img"><img src="" /></div>
            <div class="add_plate"><span>车牌</span><input type="text" /></div>
        </div>
        <ul class="add_form">
            <li><span>成交价</span><input class="txt_price" type="text" /></li>
            <li><span>车型</span><input type="text" /></li>
            <li class="js_region" style="display:none;"><span>转籍地</span><input type="text" /></li>
            <li><span>买方联系方式</span><div class="arrow"></div></li>
            <li><span>卖方联系方式</span><div class="arrow"></div></li>
            <li><span>代理门店</span><div class="arrow"></div></li>
        </ul>
    </div>
</section>
