<header><em class="ico-back J_Back" hl></em><h1 class="J_Header"></h1></header>
<section id="main" class="main buyMain">
    <ul class="buyTopBar">
        <li class="ico-plus J_Select">自选号码</li>
        <!--<li class="ico-plus J_Random">机选一注</li>-->
        <li class="J_Clear">清空列表</li>
    </ul>
    <div class="curPhaseBar">
        <span class="curPhase js_curPhase"></span>
        <span class="leftTime js_leftTime"></span>
    </div>
    <ul class="buyList J_List">
    </ul>
</section>
<footer class="buyBar">
    <ul class="inputBuy">
        <li>连续买<input class="J_Number" type="number" value="1" />期</li>
        <li>投注<input class="J_Times" type="number" value="1" />倍</li>
    </ul>
    <ul class="buyInfo">
        <li><i class="J_Money">共0元</i><em class="J_Total">1倍0注1期</em></li>
        <li><div class="J_Buy" value="立即投注">立即投注</div></li>
    </div>
</footer>
<script id="list" type="text/template">
{%if (data)%}
{%each(i,item) data%}
<li data-num="${item.num}"><span>&nbsp;${item.num}注 ${item.typeName}</span><br><i class="ssqNums red_num">{%html item.red%}</i><span class="blue_num">{%html item.blue%}</span><em class="ico-delete J_Delete"></em></li>
{%/each%}
{%else%}
    <div style="padding:10px;text-align:center;">暂未投注</div>
{%/if%}
</script>
