<header><a class="ico-menu" hl href="/menu/index.html"></a><h1><i class="hd"></i></h1>
    <a class="ico-add" hl href="/add.html"></a><a class="ico-search" hl href="/add.html"></a></header>
<section class="main home_bd js_main">
    <div class="home_con"><img class="home_tee_img" src="http://localhost:11403/Content/product/2014/635454194989614898.jpg" onerror="this.src=''" /><b class="home_buy_btn"></b>
        <p class="t_info"><span>COMBED COTTON TEE</span> <span>可与皮肤直接接触</span> </p>
    </div>
</section>
<footer class="home_action"><b class="home_create_btn">马上创作</b><b class="home_list_btn"></b></footer>
