<header><em class="ico-back J_Back" hl></em><a class="ico-analyse"></a><h1>快三选号</h1></header>
<section id="main" class="main ssqMain">
    <div class="cpBar">
        <span class="motionTip J_Random">摇一摇机选</span>
        <span class="curPhase js_curPhase"></span>
        <span class="leftTime js_leftTime"></span>
    </div>
    <div class="red ballPool">
        <div class="hd">
            <em>一号</em>
        </div>
        <div class="bd">
            <ul class="table redBallList J_RedList">
            </ul>
        </div>
    </div>
    <div class="red ballPool">
        <div class="hd">
            <em>二号</em>
        </div>
        <div class="bd">
            <ul class="table redBallList J_RedList">
            </ul>
        </div>
    </div>
    <div class="red ballPool">
        <div class="hd">
            <em>三号</em>
        </div>
        <div class="bd">
            <ul class="table redBallList J_RedList">
            </ul>
        </div>
    </div>
</section>
<footer class="actionBar">
    <em class="J_Clear" hl>重选</em>
    <em class="curr J_Random" hl>机选</em>
    <em class="J_Buy" hl>购买</em>
</footer>
