<header><em class="ico-back J_Back" hl></em><h1>福利彩票</h1></header>
<section id="main" class="main"></section>
<script id="prize" type="text/template">
    <ul class="prizeinfo">
        <li>${GameID=="10001"?"双色球":GameID=="10003"?"七乐彩":GameID=="10002"?"3D":GameID=="32003"?"快三":GameID=="90015"?"15选5":GameID=="90016"?"福彩6+1":"其他"}${WagerIssue}期</li>
        <li>本期销量：${SumSales/100}元</li>
        <li>累计到下次奖池金额：${INNEXT_FIRSTWARD/100}元</li>
        
        <li data-id="${GameID}">开奖号码：<span class="balls">
        {%each(j,num) Nums%}
        <em class="red">${num}</em>
        {%/each%}
    </span></li>
    </ul>
    <div class="prizelist">
        <div class="hd">开奖详情</div>
        <ul class="table">
            <li><p>奖项</p><p>中奖注数</p><p>中奖金额</p></li>
            {%each(j,grade) grade_array%}
            <li><p>${grade.WIN_NAME}</p><p>${grade.WIN_NUMBER}</p><p>${grade.WIN_MONEY}</p></li>
            {%/each%}
        </ul>
    </div>
</script>
