<header class="header_type"><em class="ico-back J_Back" hl></em><a class="ico-analyse"></a>
    <h1><span class="J_Header">双色球选号</span><em class="ico-arrow-down J_Type"></em></h1>
    <ul class="selType J_TypeCon">
        <li class="curr J_Normal">普通投注</li>
        <li class="J_Hard">胆拖投注</li>
    </ul>
</header>
<section id="main" class="main ssqMain">
    <div class="cpBar J_Motion"><span class="motionTip J_Random">摇一摇机选</span> <span class="curPhase js_curPhase">
    </span><span class="leftTime js_leftTime"></span></div>
    <div class="red ballPool">
        <div class="hd"><span class="J_RandomRed">红色随机</span> <em class="J_MsgTitle">红球</em>
            <i class="J_Msg">请至少选择6个红球</i> </div>
        <div class="bd">
            <ul class="table redBallList J_RedList J_NormalRedList"></ul>
        </div>
    </div>
    <div class="red ballPool J_HardCont" style="display: none;">
        <div class="hd"><em>拖码-红球</em> <i>至少选择2个红球</i> </div>
        <div class="bd">
            <ul class="table redBallList J_RedList"></ul>
        </div>
    </div>
    <div class="blue ballPool">
        <div class="hd"><span class="J_RandomBlue">蓝色随机</span> <em>蓝球</em> <i>请至少选择1个蓝球</i>
        </div>
        <div class="bd">
            <ul class="table blueBallList J_BlueList"></ul>
        </div>
    </div>
</section>
<footer class="actionBar"><em class="J_Clear" hl>重选</em> <em class="curr J_Random"
    hl>机选</em> <em class="J_Buy" hl>购买</em> </footer>
